{% extends "base.html.twig" %}
{% block body %}
    <img src="{{ asset('build/images/logo.svg') }}" height="100" width = "100" alt="logo SoundBuzz footer" align="right" >
    <div class="container my-5">
        <!--Section: Content-->
        <section class="team-section text-center dark-grey-text">

            <!-- Section heading -->
            <h3 class="font-weight-bold pb-2 mb-4">Albums</h3>
            <!-- Section description -->
            <p class="text-muted w-responsive mx-auto mb-5">Voici la liste des albums que vous avez ajouter à votre bibliotheque.</p>

            <!-- Grid row -->
            <div class="row text-center">

                <!-- Grid column -->
                <div class="col-md-4 mb-4">
                    <div class="avatar mx-auto">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded z-depth-1-half" alt="Sample avatar" height="150px">
                    </div>
                    <h4 class="font-weight-bold dark-grey-text my-4">Album</h4>
                    <h6 class="text-uppercase grey-text mb-3"><strong>Artiste</strong></h6>
                    <!-- Facebook-->

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 mb-4">
                    <div class="avatar mx-auto">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" class="rounded z-depth-1-half" alt="Sample avatar" height="150px">
                    </div>
                    <h4 class="font-weight-bold dark-grey-text my-4">Album</h4>
                    <h6 class="text-uppercase grey-text mb-3"><strong>Artiste</strong></h6>
                    <!--Email-->

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 mb-4">
                    <div class="avatar mx-auto">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded z-depth-1-half" alt="Sample avatar" height="150">
                    </div>
                    <h4 class="font-weight-bold dark-grey-text my-4">Album</h4>
                    <h6 class="text-uppercase grey-text mb-3"><strong>Artiste</strong></h6>
                    <!--Linkedin -->
                    </br>


                </div>

                <h3 class="font-weight-bold pb-2 mb-4">Playlists</h3>


                <div class="col-md-4 mb-4">
                    <div class="avatar mx-auto">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="img-fluid rounded-circle z-depth-1"  height="50px">
                    </div>
                    <h4 class="font-weight-bold dark-grey-text my-4">Sarah Melyah</h4>
                    <h6 class="text-uppercase grey-text mb-3"><strong>Web Developer</strong></h6>
                    <!--Linkedin -->

                </div>

                <div class="col-md-4 mb-4">
                    <div class="avatar mx-auto">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="img-fluid rounded-circle z-depth-1"  height="60px">
                    </div>

                    <!--Linkedin -->

                </div>


            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Content-->



    </div>
{% endblock %}