<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark purple accent-4">
  <a class="navbar-brand" href="#">
    <img src="{{ asset('build/images/logo_sans_white.svg') }}" height="17" alt="logo SoundBuzz">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Accueil
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bibliothèque</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Upload</a>
      </li>
    </ul>
    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Rechercher" aria-label="Search">
      </div>
    </form>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#">Se connecter</a>
          <a class="dropdown-item" href="#">S'inscrire</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->